*{margin: 0;padding: 0;}
.fl{float: left;}
.swiper-wrapper .swiper-slide img{width: 100%;/*height: 3.6rem;*/}
a{color: black}
a:hover{text-decoration: none;}

.box{width:100%;overflow: hidden;margin: 0 auto;}
.swiper1-container{width: 2.770642rem;/*height: 0.8rem;*/ margin-top:0.412844rem;margin-left: 0.412844rem}
.swiper-wrapper .swiper-slide .img2{width: 100%;/*height:0.8rem;*/}
.box .swiper1-container .swiper-slide {width:2.733333rem;}


.semenzhuanti{height:0.385321rem;margin-top: 0.788991rem;padding-left: 0.412844rem;padding-right: 0.568807rem;margin-bottom: 0.66055rem;}
.semenzhuanti .xian{height: 0.385321rem;width: 0.073394rem;background: #e58c7c;display: inline-block;}
.semenzhuanti span{font-size: 32px;line-height: 0.385321rem;float: left;margin-left: 0.220183rem;color: #a1a1a1}
.semenzhuanti i{float: right;font-size: 40px;color: #a1a1a1;font-weight: bold;}
.semenzhuanti .huan{float: right;}

.fenlei{padding-left: 0.550459rem;padding-right: 0.788991rem;}
.fenlei ul li{float: left;border: 1px solid #e58c7c;padding: 0.275229rem 0.201835rem;margin-right: 0.550459rem;margin-bottom: 0.275229rem;border-radius: 0.06422rem;color:#e58c7c;}

.box{width: 100%;}

.list{height: 2.954128rem;margin-top: 0.220183rem;padding-left: 0.458716rem;padding-right: 0.990826rem;border-bottom: 0.018349rem solid #ddd}
.list .img-pic{width: 0.623853rem;height: 0.623853rem;border-radius: 50%;float:left;}
.list .img-pic img{border-radius: 50%;width: 0.623853rem;height: 0.623853rem;float: left;}
.list .list-cont{float:left;width: 2.908257rem;height: 0.623853rem;margin-left: 0.220183rem;}
.list .list-top{width: 100%;height: 0.623853rem;}
.list .list-top .list-cont .list-font{font-size: 30px;}
.list .list-top .list-cont .list-time{font-size: 18px;}
.list .list-center{width: 100%;}
.list .list-center .title{font-size: 46px;word-spacing: 0.018349rem;width: 100%;display: block;padding-bottom: 0.256881rem;}
.list .list-center .mylove{border:1px solid #e58c7c;padding:0.146789rem 0.201835rem ;color:  #e58c7c;border-radius: 0.045872rem;}
.list .list-center .pinglun{margin-left: 0.183486rem;display: block; float: left;padding-top: 0.256881rem;color: #b1b1b1;font-size: 26px; }

.footer{width: 8.440367rem;
	height: 0.917431rem; position: fixed;bottom: 0px;border-top: 0.018349rem solid #ccc; padding:0.229358rem 0.733945rem;background: #fff;
	z-index: 33
}
.footer div{text-align: center;}

.footer i{font-size: 64px;display: block;height: 0.587156rem;}
.footer div span{font-size: 24px;margin-bottom: 0.220183rem;}
.ml146{margin-left: 1.321101rem;}

.seach{position:fixed; top:0px;background: rgba(255,255,255,0);width: 100%;height: 1.284404rem;z-index: 32}
.seach .search-line{width: 2.752294rem;height: 0.825688rem;background: #fff;border-radius: 0.366972rem;position: fixed;right: 0.440367rem;top: 0.183486rem;z-index: 38}
.seach .search-line i{font-size: 52px;line-height: 0.825688rem;margin-left: 0.587156rem;margin-right: 0.330275rem;
	color:#888888}
.seach .search-line span{font-size: 42px;color:#b4b4b4;}

