.fl{float: left;}
.fr{float: right;}
#font-50{font-size: 60px;}
.ml60{margin-left: 0.550459rem;}
.bananer{padding:0.53211rem 0.385321rem;height: 1.87156rem;}
.bananer i{font-size: 37px;float: right;}
.title{width: 100%;padding-bottom: 1.211009rem; }
.title span{font-size: 136px;width: 100%;display: inline-block;text-align: center;color:#e78170;}
.denglufangshi{opacity: 0;height: 0.348624rem;padding-bottom: 0.348624rem;}
.yonghu{padding:0 60px;height: 6.880734rem;width: 8.899083rem;}
.yonghu .border{height:2.669725rem;border: 0.009174rem solid #cfcfcf;width: 8.880734rem; }
.yonghu form .xian{width: 100%;height: 0.009174rem;background: #cfcfcf}
.yonghu form .item {width: 8.880734rem;height:1.330275rem; }

.yonghu form .item .touxiang{width: 1.651376rem;height: 1.330275rem; float: left; text-align: center;line-height: 1.330275rem; color: #969696}
.yonghu form .item .touxiang i{font-size: 46px;}
.yonghu form .item input{width: 5.908257rem;height: 1.311927rem;outline: none;border: none;font-size: 50px;}
.yonghu form .item .tubiao{width: 1.321101rem;float: right;height: 1.330275rem;text-align: center;line-height: 1.330275rem;color: #c8c8c8}
.yonghu form .item .tubiao i{font-size: 46px; display: none;}
.yonghu .tijiao{margin-top: 0.550459rem;height: 1.321101rem;width: 100%;}
.yonghu .tijiao input{width: 100%;height: 1.321101rem;background: #97c8e3;border: none;outline: none;font-size: 52px;color: #fff;border-radius: 0.045872rem;}
.wangji{padding-top: 0.697248rem;padding-bottom: 0.917431rem;}
.wangji span{font-size: 46px;color: #919191;text-align: center;width: 100%;display: inline-block;}

.shequ{padding:0 1.834862rem;}
.shequ span{width: 4.12844rem;display: inline-block;text-align: center;color: #919191}
.shequ div{width: 1.100917rem;height: 0.018349rem;background: #cfcfcf;margin-top: 0.275229rem;}
.shequtu{margin-top: 0.623853rem;height: 1.100917rem;padding:0 1.926606rem;}
.shequtu div{float: left}

.footer{margin-top: 0.642202rem;padding-bottom:0.917431rem;padding-left: 1.009174rem;padding-right: 1.009174rem;letter-spacing: 0.018349rem;}
.footer span{font-size: 44px;color: #919191}
.footer .mlr{padding:0 0.146789rem; font-size: 60px;color: #cfcfcf}
.footer .red{color: #e58c7c;}
