.fl{float: left;}
.fr{float: right;}
#font-50{font-size: 60px;}
.ml60{margin-left: 150px;}
.bananer{padding:0.53211rem 0.385321rem;height: 1.87156rem;}
.bananer i{font-size: 37px;float: right;}
.title{width: 100%;padding-bottom: 132px; }
.title span{font-size: 136px;width: 100%;display: inline-block;text-align: center;color:#e78170;}
.denglufangshi{opacity: 0;height: 38px;padding-bottom: 38px;}
.yonghu{padding:0 60px;height: 750px;width: 970px;}
.yonghu .border{height:436px;border: 1px solid #cfcfcf;width: 968px; }
.yonghu form .xian{width: 100%;height: 1px;background: #cfcfcf}
.yonghu form .item {width: 968px;height:145px; }

.yonghu form .item .touxiang{width: 180px;height: 145px; float: left; text-align: center;line-height: 145px; color: #969696}
.yonghu form .item .touxiang i{font-size: 46px;}
.yonghu form .item input{width: 644px;height: 143px;outline: none;border: none;font-size: 50px;}
.yonghu form .item .tubiao{width: 144px;float: right;height: 145px;text-align: center;line-height: 145px;color: #c8c8c8}
.yonghu form .item .tubiao i{font-size: 46px; display: none;}
.yonghu .tijiao{margin-top: 60px;height: 144px;width: 100%;}
.yonghu .tijiao input{width: 100%;height: 144px;background: #a4df9c;border: none;outline: none;font-size: 52px;color: #fff;border-radius: 5px;}
.wangji{padding-top: 76px;padding-bottom: 100px;}
.wangji span{font-size: 46px;color: #919191;text-align: center;width: 100%;display: inline-block;}

.shequ{padding:0 200px;}
.shequ span{width: 450px;display: inline-block;text-align: center;color: #919191}
.shequ div{width: 120px;height: 2px;background: #cfcfcf;margin-top: 30px;}
.shequtu{margin-top: 68px;height: 120px;padding:0 210px;}
.shequtu div{float: left}

.footer{margin-top: 70px;padding-bottom:100px;padding-left: 110px;padding-right: 110px;letter-spacing: 2px;}
.footer span{font-size: 44px;color: #919191;}
.footer .mlr{padding:0 16px; font-size: 60px;color: #cfcfcf}
.footer .red{color: #e58c7c;margin-left: 140px;}
